[Unit]
Description=automouter for removable media
Documentation=man:mediad(8)

[Service]
Type=forking
ExecStart=/sbin/mediad start
PIDFile=mediad.pid
